body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    margin: 20px
}

body img {
    height: 100px;
    margin-right: 16px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-style: bold;
    color: #2c3e50
}

table {
    width: 50%;
    margin-bottom: 50px;
    background-color: rgb(231, 211, 185);
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: line;
    width: 300px;
    gap: 10px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4fa3db;
}